<form method = "post" action = "results">
	<input type = "text" name = "info[]" placeholder="First Name" required><br>
	<input type = "text" name = "info[]" placeholder="Last Name" required><br>
	<input type = "text" name = "info[]" placeholder="Street Address" required><br>
	<input type = "text" name = "info[]" placeholder="City" required><br>
	<input type = "text" name = "info[]" placeholder="State" required><br>
	<input type = "number" name = "info[]" placeholder="Zip Code" required><br>
	<input type = "number" name = "info[]" placeholder="Phone Number" required><br>
	<input type = "submit" value = "enter">
</form>


