 <head>
 <link rel= "stylesheet" href = "css/style.css">
 
 <head>


</head>

<body class = "back_gr">

 
<%=yield%>

</body>

<footer>

<a href = "https://github.com/billyjack1988" target = "_blank"> Vist my Github</a>
<footer>