<h1 id = "box2" class = "font_size cent font_type"> Enter Your Username and Password </h1> 
<div id = "box2" class = "font_size cent font_type">
<%=message%><br>
</div>
<div id = "box">
<form method = "post" action = "login">
<input type = "text" name = "username" placeholder="username">
<input type = "password" name = "password" placeholder="password">
<input type = "submit" value = "enter">
</form>
<br><br>
<form method = "post" action = "create_login">
<input type = "submit" value = "CREATE LOGIN">
</form>
</form></div>
