<div id = "box2" class = "font_size cent font_type">
	Choose a username and password
</div>

<div id = "box2" class = "font_size cent font_type">
<form method = "post" action = "made_login">
	<input type = "text" name = "user" minlength = "6" maxlength="12" required
	placeholder="Username">
	<input type = "password" name = "pass" minlenght = "6" maxlength="12" required placeholder="Password">
	<input type = "submit" value = "ENTER">
</form>
</div>