<h1 class = "font_size font_color cent font_type"><%=answer%><br></h1>

<%phone_book.each do |row|%>
	<div class = "imag_bord font_size font_color cent font_type"><%row.each do |item|%>
	<%=item%>
	<br>
	<%end%></div>
    <br>
	<%end%>