
<div class = "font_size font_color cent font_type"><form method = "post" action = "update">

<%unless search_answer == "Need search term" ||search_answer ==  "isnt in phone book" %>
    <%search_answer.each do |row|%>
	<%woo = row.join(",")%>
		<input type = "checkbox" name = "info[]" value = "<%=woo%>"> 
		<%row.each do |item| %>
			<%=item%>
		<%end%>
	<br>
	<%end%>

<%else%>
<%=search_answer%>
<%end%>
<input type = "radio" name = "choose" value = "update" checked>update
<input type = "radio" name = "choose" value = "delete">delete<br>
<input type = "submit" value = "enter">
</form></div>