.cent {
    text-align: center;
}

.back_gr {
    background-image: url("/images/hi_art.jpg");
    background-size: 125% 100%;
}

.font_size {
    font-size: 300%;
}

.font_color {
    color: white;
}

.imag_bord {
    border: 1px solid black;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.th {
    text-align: left;
}

@font-face {
    font-family: 'myfont';
    src: url('/fonts/mar_font.ttf');
}

.font_type {
    font-family: 'myfont';
}

#box {
    font-size: 3vh;
    color: black;
    background-color: whitesmoke;
    border-style: double;
    border-color: blue;
    padding: 1vh;
    border-radius: 3vh;
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 10%;
    text-align: center;
}